<?php

return[
  'git' => [
    'OAUTH_ENDPOINTS' => [
          'INITIAL_CONNECT' => [
            'URL' => 'https://github.com/login/oauth/authorize',
            'METHOD_TYPE' => 'GET'
          ],
          'ACCESS_TOKEN' => [
            'URL' => 'https://github.com/login/oauth/access_token',
            'METHOD_TYPE' => 'POST'
          ],
          'USER_DETAIL_ENDPOINT' => [
            'URL' => 'https://api.github.com/user',
            'METHOD_TYPE' => 'GET'
          ]
    ],
    'client_id' => 'xxx',
    'client_secret_key' => 'xxx',
    'redirect_uri' => 'your redirect URL'
  ]
];

// Use this format to create githubApp.php in your config folder to create config for Github OAuth
